.ss {
  position: absolute;
  text-align: center;
  margin: 20px;
  color: #fff;
  font-size: 2.5em;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7); /* Add shadow for better visibility */
  top: 1%;
  z-index: 5;
}

.container {
  top: 5%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Add space between planets and the sun */
  background-image: url('space_stars_bg.jpg'); /* Add space background image */
  background-size: cover; /* Cover the entire viewport */
  background-position: center;
  color: #fff;
  font-family: Arial, sans-serif;
}

#info {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: #fff;
  font-family: Arial, sans-serif;
  background-image: url('space_stars_bg.jpg'); /* Add space background image */
  background-size: cover; /* Cover the entire viewport */
  background-position: center;
  flex-direction: column;
}

.celestial-body {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  text-align: center;
}

.planet-name {
  display: block;
  margin-top: 10px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}

.celestial-body img {
  width: 100%; /* make image fill the container */
  height: auto; /* maintain aspect ratio */
  display: block; /* remove gaps */
}

/* Sizes for planets */
.sun {
  width: 120px;
  height: 120px;
  box-shadow: 0 0 30px rgba(255, 204, 0, 0.8);
}

.mercury {
  width: 60px;
  height: 60px;
  box-shadow: 0 0 10px rgba(230, 91, 5, 0.8);
}

.venus {
  width: 65px;
  height: 65px;
  box-shadow: 0 0 15px rgba(238, 133, 6, 0.8);
}

.earth {
  width: 80px;
  height: 80px;
  box-shadow: 0 0 15px rgba(30, 144, 255, 0.8);
}

.mars {
  width: 60px;
  height: 60px;
  box-shadow: 0 0 10px rgba(255, 99, 71, 0.8);
}

.jupiter {
  width: 120px;
  height: 120px;
  box-shadow: 0 0 30px rgba(233, 133, 26, 0.378);
}

.saturn {
  width: 110px;
  height: 110px;
  box-shadow: 0 0 25px rgba(21, 21, 20, 0.8);
}

.uranus {
  width: 80px;
  height: 80px;
  box-shadow: 0 0 15px rgba(135, 206, 235, 0.8);
}

.neptune {
  width: 80px;
  height: 80px;
  box-shadow: 0 0 15px rgba(0, 0, 255, 0.8);
}

.celestial-body:hover {
  transform: scale(2.3); /* Enlarge on hover */
}

.info-box {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(7, 15, 13, 0.9);
  padding: 70px;
  border-radius: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  color: white;
  z-index: 10;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

#weight-section {
  background-image: url('space_stars_bg.jpg'); /* Add space background image */
  background-size: cover; /* Cover the entire viewport */
  background-position: center;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-top: 50px;
}

input, select {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid #0c0c0c;
  width: 250px; /* Consistent width */
  background-color: #2c3232; /* Green background */
  color: #f5f1f1;
}

.bb {
  padding: 10px 20px;
  background-color: #2c3232; /* Dark green button */
  border: 2px solid #fcfcfc;
  border-radius: 5px;
  color: #f7efef; /* White text */
  cursor: pointer;
  transition: background-color 0.3s;
}

.bb:hover {
  background-color: #edf2ed; /* Lighter green on hover */
}

#weight-result {
  margin-top: 20px;
  color: #efedf5; /* Light text color */
  border: 2px solid #fcfcfc;
  border-radius: 10px;
  padding: 10px;
  background-color: #0d909e; /* Result background */
}
